@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    user-select: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    width: 300px;
    height: 600px;
    border: 4px solid black;
    margin: auto;
    background-image: url('../images/road.png');
    overflow: hidden;
    background-size: 100% 50%;
    animation: moveroad 3s infinite linear;
}

@keyframes moveroad {
    0%{
        background-position-y: 0px;
    }
    100%{
        background-position-y: 600px;
    }

}



#pablo{
    width: 100px;
    height: 100px;
    position: relative;
    top: 500px;
    left: 100px;
    background-image: url('../images/dog1.png');
    background-size: 50% 87%;
    animation: pablo 0.2s infinite alternate;
    background-repeat: no-repeat;
    background-position-x: 50%;

}

@keyframes pablo{
0%{
background-image: url('../images/dog1.png');
}

100%{
    background-image: url('../images/dog2.png');
}

}

#obstacle{
    width: 100px;
    height: 140px;
    top: 600px;
    background-image: url('../images/car2.png');
    background-size: 82% 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    animation: drive 1s infinite linear;

}
@keyframes drive{
    0%{top: -140px};
   
    100%{bottom: 600px};
}

#score {
    font-family: 'Press Start 2P', cursive;
    position: relative;
    left: 5px;
    top: -90px;
    text-shadow: 1px 1px 1px white;
    z-index: 100;
    
}

#gover{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    position:absolute;
    font-size: 0.7em;
    line-height: 45px;
    text-shadow: 1px 1px 1px white;
    z-index: 100;
    
}

/*the text animaation part below was taken from codepen and edited by me*/
#restartbutton{
    font-size: 13px;
    cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
        background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
            background-clip: border-box;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        text-shadow: 1px 1px 1px black
      }
      
      h2 {
        -webkit-animation: GradientAnimation 2s ease infinite;
        animation: GradientAnimation 2s ease infinite;
      }
      
      @keyframes GradientAnimation {
        0% { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
      }

/* making it mobile friendly */
    #left, #right{
        width:50%;
        position: absolute;
        height: 600px;
    }
    #right{
        left: 50%;
    }


