*{
    padding: 0;
    margin: 0;
    user-select: none;
}

body{
    display: flex;
}

.game {
    width: 300px;
    height: 600px;
    border: 4px solid black;
    margin: auto;
    background-image: url('../images/road.png');
    overflow: hidden;
    background-size: 100% 50%;
    animation: moveroad 3s infinite linear;
}

@keyframes moveroad {
    0%{
        background-position-y: 0px;
    }
    100%{
        background-position-y: 600px;
    }

}



#pablo{
    width: 100px;
    height: 100px;
    position: relative;
    top: 500px;
    left: 100px;
    background-image: url('../images/dog1.png');
    background-size: 50% 87%;
    animation: pablo 0.2s infinite alternate;
    background-repeat: no-repeat;
    background-position-x: 50%;

}

@keyframes pablo{
0%{
background-image: url('../images/dog1.png');
}

100%{
    background-image: url('../images/dog2.png');
}

}

#obstacle{
    width: 100px;
    height: 140px;
    top: 600px;
    background-image: url('../images/car2.png');
    background-size: 82% 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    animation: drive 1.2s infinite linear;

}
@keyframes drive{
    0%{top: -140px};
   
    100%{bottom: 600px};
}
